PMO-web/.metadata
PMO-web/bin/
PMO-web/tmp/
PMO-web/*.tmp
PMO-web/*.bak
PMO-web/*.swp
PMO-web/*~.nib
PMO-web/local.properties
PMO-web/.settings/
PMO-web/.loadpath

# Eclipse Core
PMO-web/.project

# External tool builders
PMO-web/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
PMO-web/*.launch

# PyDev specific (Python IDE for Eclipse)
PMO-web/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
PMO-web/.cproject

# JDT-specific (Eclipse Java Development Tools)
PMO-web/.classpath

# Java annotation processor (APT)
PMO-web/.factorypath

# PDT-specific (PHP Development Tools)
PMO-web/.buildpath

# sbteclipse plugin
PMO-web/.target

# TeXlipse plugin
PMO-web/.texlipse

# STS (Spring Tool Suite)
PMO-web/.springBeans

 Maven-specific
PMO-web/target/*