<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<beans:bean id="pmoUserDetails" 
                class="com.pmo.user.service.PmoUserDetailsService">
	</beans:bean>

	<http auto-config="true">
		<intercept-url pattern="/faces/**" access="hasRole('ROLE_USER')" />
		<form-login 
		    login-page="/login" 
		    login-processing-url="/j_spring_security_check"
		    authentication-failure-url="/login?error=1"
		    default-target-url="/index.jsp"
			username-parameter="login-form:login-username"
			password-parameter="login-form:login-password" />

		<logout logout-success-url="/login?logout"  />
		<!-- enable csrf protection -->
		<csrf disabled="true"/>
		
	</http>

	<authentication-manager>
	 <!-- 
	  <authentication-provider>
	    <user-service>
		<user name="roland.srong" password="123456" authorities="ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	 -->
	 
	 	<authentication-provider user-service-ref="pmoUserDetails" >  
		</authentication-provider>

	
	</authentication-manager>
 
</beans:beans>